<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
</head>
<body>
<nav th:insert="layout::menu"></nav>
<div class="card ">
    <div class="card-header text-bg-dark mb-3">
        Lista de Empleados
    </div>
    <div class="card-body">
        <button id="btnagregar"
                type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar</button>
        <hr />
        <div id="mensaje"></div>
        <table id="tblempleado" class="table">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Fecha Contrat.</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="empleado :${listaempleados}">
                <td th:text="${empleado.idempleado}"></td>
                <td th:text="${empleado.nombre}"></td>
                <td th:text="${empleado.apellido}"></td>
                <td th:text="${empleado.fechacontrat}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal Registrar / Actualizar Sala -->
<div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Sala</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="txtdescsala" class="form-label">Descripción Sala</label>
                    <input type="text" class="form-control" id="txtdescsala">
                </div>
                <div class="mb-3">
                    <label for="txtnroasientos" class="form-label">Nro.Asientos</label>
                    <input type="number" class="form-control" id="txtnroasientos">
                </div>
                <div class="mb-3">
                    <label for="cboestado" class="form-label">Estado</label>
                    <select id="cboestado" class="form-control"></select>
                </div>
                <input type="hidden" id="hddidsala">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                <button type="button" id="btnguardar" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>